<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="intial-scale=1 ,width=device-width">
        <title>Filius's Form</title>
    </head>
    <body>
        <h1>Register here</h1>
        <form action="/register" method="post">
            <input type="text" name="name" placeholder="NAME">
            <select name="hostel">
                <option disabled selected value="">Hostel</option>
                <option value="krishna">Krishna</option>
                <option value="godavari">godavari</option>
                <option value="mtech">Mtech</option>
            </select>
            <input type="submit" value="Register">
        </form>
    </body>
</html>